@import url('https://fonts.googleapis.com/css?family=Tajawal');
body {

   background: linear-gradient(to right,#9575ce, #89daff);
    min-height: 100vh;
  font-family: 'Tajawal', sans-serif !important;
  word-wrap: break-word !important;
}
.text1
{
	background: #00000026;
    width: 50%;
    padding-bottom: 1%;
    color: #ffffffc4;
    border-radius: 80px;
}
.card
{
	background-color: #ffffffd1!important;
	border: 1px solid rgb(0, 0, 0)!important;
    margin-top: 1%!important;
    padding-left: 3%!important;
    padding-right: 3%!important;
    padding-top: 3%!important;
    padding-bottom: 3%!important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.btn-primary {
    color: #000000;
    background-color: #ffffffa6;
    border-color: #000000;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0000004f;
    border-color: #0062cc;
}